<div class="container-fluid">
  <div class="navbar_container mb-5">
    <app-navbar></app-navbar>
  </div>
  <div class="container main">
    <div class="row">
      <div class="col-md-3 pt-3">
        <app-bracelet></app-bracelet>
      </div>
      <div class="col-md-3 pt-3">
        <app-earring></app-earring>
      </div>
      <div class="col-md-3 pt-3">
        <app-necklace></app-necklace>
      </div>
      <div class="col-md-3 pt-3">
        <app-rings></app-rings>
      </div>
    </div>
  </div>
</div>
