<div class="container-fluid">
  <div class="navbar_container mb-5">
    <app-navbar></app-navbar>
  </div>
  <div class="container main">
    <h1 *ngIf="allProducts === undefined">Please Wait Products Loading</h1>
    <div class="row" *ngIf="allProducts !== undefined">
      <div class="col-md-3 pt-3">
        <app-bracelet [products]="allBracelets"></app-bracelet>
      </div>
      <div class="col-md-3 pt-3">
        <app-earring [products]="allEarrings"></app-earring>
      </div>
      <div class="col-md-3 pt-3">
        <app-necklace [products]="allNecklace"></app-necklace>
      </div>
      <div class="col-md-3 pt-3">
        <app-rings [products]="allRings"></app-rings>
      </div>
    </div>
  </div>
</div>
