/* You can add global styles to this file, and also import other style files */
@import "src/variable.scss";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules//alertifyjs//build/css/themes/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.offcanvas.show {
  width: 50%;
}
.custom-btn {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: $button-bg;
  border-radius: 5px;
  transition: 0.3s all ease;
}
.custom-btn:hover {
  border: 2px solid $button-bg;
  color: $button-bg;
  background-color: white;
}
